## Node
node_modules/
backend/node_modules/

## Logs
*.log
npm-debug.log*
yarn-error.log*

## Build output
build/
dist/

## Env files
.env
.env.local

## OS / misc
.DS_Store
Thumbs.db

## IDE
.vscode/
.idea/

## Archives
*.zip
*.tar
*.tar.gz
